---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <BaseHead title={title} description={description} />
  </head>
  <body
    class="flex flex-col min-h-screen mx-auto max-w-6xl px-4 dark:prose-invert sm:px-6 lg:px-8"
  >
    <Header />

    <!-- メインコンテンツエリア（高さを自動調整） -->
    <main class="flex-grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>